body {
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
    color: white;
    /* background: #11121A; */
    background: #FFEFD5
}

* {
    box-sizing: border-box;
}

header {
    background: #1C1C24;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.header-container {
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.header-container .logo {
    height: 30px;
    margin-right: 10px;
}

.header-container .logo i {
    height: 100%;
}

.search {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
    margin-bottom: 10px;
}

.search-container {
    background-color: #1C1C24;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #222328;
    display: flex;
    overflow: hidden;
}

.input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.input-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.input-container i {
    font-size: 20px;
    margin-left: 25px;
    color: #666600;
}

.button-container {
    background: #3060FF;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-container:hover {
    background: #5a81ff;
}

.jobs-list {
    background: #40826D;
    max-width: 1250px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    border-radius: 20px;
}

.jobs-list h1 {
    margin-left: 25px;
    font-size: 20px;
}

.jobs-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    /* background: #11121A; */
    border-radius: 10px;
    background: #40826D;
}

.job-tile {
    /* backgroun#3d3d02d: #1C1C24; */
    background: #5F8575;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    padding: 30px;
    transition: transform 0.2s;
}

.job-tile:hover {
    transform: scale(1.05);
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.rolename {
    padding: 20px 0px;
}

.rolename span {
    font-size: 22px;
}

.description {
    flex-grow: 1;
    height: 105px;
    overflow: hidden;
    font-size: 18px;
    /* color: #96939B; */
    color: white;
}

.buttons {
    color: black;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #96939B;
    background-color: #2E2E39;
    font-size: 14px;
}

.vote-average {
    color: white;
    background: #3060FF;
    margin-right: 15px;
}

.messages {
    background: #097969;
    color: white;
}


/* Overview overlay */

.overview {
    background-color: #40826D;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    font-size: 0.8rem;
    border-radius: 20px;
    display: none;
}

.job-tile:hover .overview {
    transform: translateY(0);
    display: block;
}

@media screen and (max-width: 930px) {
    .jobs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .jobs-container {
        grid-template-columns: repeat(1, 1fr)
    }
}